<div class = 'box-1 col-xs-12'>
  <div class = 'container'>
    <h5>- Hi</h5>
    <h1>
      My name is <span class = "accented-text">Tyler Pendleton</span> and I am a passionate <span class = "accented-text">Full Stack Web Developer</span> who takes projects from concept to production. I am a <span class = "accented-text">design</span> and <span class= "accented-text">functionality</span> lover.
    </h1>
  </div>
</div>
<div class = 'box-2 col-xs-12 text-center'>
  <div class = 'container'>
    <h1>
      I'm based in <span class = "accented-text-light">New York</span> and am currently working <span class = "accented-text-light">freelance</span>.
    </h1>
    <div class = 'text-left col-xs-8' id = "links">
    <h6>
      <small>- Find me</small>
      <br/>
      <%= link_to "LinkedIn", "https://www.linkedin.com/in/tylerpendleton", class: "btn btn-sm btn-secondary-outline" %> - <%= link_to "GitHub", "https://www.github.com/tylerpendleton", class: "btn btn-sm btn-secondary-outline" %>
    </h6>
  </div>
  <div class = "text-right col-xs-4" id = "links">
    <h6>
      <small> </small>
      <br/>
    <%= link_to "Contact Me", "#", class: "btn btn-sm btn-secondary-outline" %>
  </h6>
  </div>
  </div>
</div>
